body{
    background-color: lightgray;
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
#principal{
    margin-left: 30%;
    margin-right: 30%;
    background-color: whitesmoke;
}
#header > h1{
    padding: 20px;
    text-align: center;
}
#segunda-secao, #primeira-secao{
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
}
#segunda-secao > p:nth-child(4){
    text-align: center;
}

h2,h3{
    text-align: center;
}
h3{
    font-size: 1.2em;
}
img{
    border-radius: 50%;
}
#container{
    width: 100%;
}
.secao > a > img{
    height: 150px;
    border-radius: 50%;
}
footer > a > img{
    height: 80px;
}
.secao{
    display: inline;
}
.secao > p{
    display: inline;
}
.sec-secundaria{
    width: 24%;
    display: inline-block;
    margin: 0;
    text-align: center;
}
@media (max-width: 942px){
	.sec-secundaria{
		width: 100%;
	}
}
@media (min-width: 942px) and (max-width: 1250px){
	.sec-secundaria{
		width: 49.7%;
	}
}
@media (min-width: 1250px) and (max-width: 1700px){
	.sec-secundaria{
		width: 33%;
	}
}